

# URL de la base de donnees.
DB_URL = 

# Port du serveur.
PORT = 3000

# BETTER_AUTH_SECRET.
BETTER_AUTH_SECRET = 
BETTER_AUTH_URL = http://localhost:3000

# RESEND API Key et adresse email d'expedition.
RESEND_API_KEY = 
FROM = 